  body
  {
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    font-size: 12px;
  }
  @media print
  {
    .noprint
    {
      display: none;
    }
  }
  form input, form select, textarea
  {
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #eaeaea;
    background: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ffffff), color-stop(1.0, #eaeaea));
    border: 1px solid #cacaca;
    color: #444;
    margin: 0 0 5px;
    padding: 5px 5px;
  }
  .vmiddle
  {
    vertical-align: middle;
  }
  .vtop
  {
    vertical-align: top;
  }
  table
  {
    padding: 10px;
  }
  .empty 
  {
    background-color: #EEE;
    height: 50px;
  }
  .mark
  {
    background-color: #9C9EA5;
    color: #FFF;
    padding-left: 5px;
  }
  .mark h3
  {
    padding: 0px;
    margin: 0px;
  }
  a img
  {
    border: 0px;
  }
  .white
  {
    background-color: #fff;
  }
  a
  {
    text-decoration: none;
  }
  .droplist0, .droplist1
  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    min-height: 200px;
    height: auto !important;
    height: 200px;
    float: left;
    background: #eee;
    width: 185px;
  }
  .droplist0 li, .droplist1 li
  {
    margin: 0 2px 2px 2px;
    padding: 5px;
    font-size: 1.2em;
    width: 170px;
  }
  .margin50
  {
    margin-left: 50px;
    margin-right: 50px;
  }
  .calendarView
  {
    width: 1900px;
  }
  ul.paging
  {
    clear: both;
  }
  ul.paging li
  {
    list-style: none;
    line-height: 1;
    width: 80%;
    margin-bottom: 1px;
  }
  ul.paging li a
  {
    padding: 10px;
    display: block;
  }
  ul.red
  {
    outline:10px solid red;
  }
  ul.simplePagerNav li
  {
    display: block;
    float: left;
    padding: 3px;
    margin-bottom: 15px;
    font-family: georgia;
  }
  ul.simplePagerNav li a
  {
    color: #333;
    text-decoration: none;
  }
  li.currentPage
  {
    background: red;
    background: #83bd63;
  }
  ul.simplePagerNav li.currentPage a
  {
    color: #fff;
  }
  table.pageme
  {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  table.pageme td
  {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  button
  {
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    -o-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.4);

    color: rgba(0,0,0,0.7);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.5);
    background :linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    background :-o-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    background :-webkit-gradient(linear,0% 0%,0% 100%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background :-moz-linear-gradient(top,rgba(255,255,255,1),rgba(185,185,185,1));
    padding: 5px 10px 5px 10px;
  }
  button:hover
  {
    background: rgba(240,240,240,1);
  }
  button:active, button:focus
  {
    background: -webkit-gradient(linear,0% 100%,0% 0%,from(rgba(255,255,255,1)),to(rgba(185,185,185,1)));
    background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
    background: -o-linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
    background: linear-gradient(bottom,rgba(255,255,255,1),rgba(185,185,185,1));
  }
  button:disabled
  {
    color: rgba(0,0,0,0.4);
    text-shadow: 1px 1px 0px rgba(255,255,255,0.5);
    background: rgba(220,220,220,1);
  }
  .listHover:Hover
  {
    background: #5c9ccc;
  }
  
  /* jquery listnav css */
  .listNav { margin:0 0 10px; }
  .ln-letters { overflow:hidden; }
  .ln-letters a { font-size:1.5em; display:block; float:left; padding:2px 6px; border:1px solid silver; border-right:none; text-decoration:none; }
  .ln-letters a.ln-last { border-right:1px solid silver; }
  .ln-letters a:hover,
  .ln-letters a.ln-selected { background-color:#eaeaea; }
  .ln-letters a.ln-disabled { color:#ccc; }
  .ln-letter-count { text-align:center; font-size:0.8em; line-height:1; margin-bottom:3px; color:#336699; }
  
table.tablesorter {
    background-color: #CDCDCD;
    font-family: arial;
    font-size: 8pt;
    margin: 10px 0 15px;
    text-align: left;
    width: 100%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    font-size: 8pt;
    padding: 4px;
}
table.tablesorter thead tr .header {
    background-image: url("bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
table.tablesorter tbody td {
    background-color: #FFFFFF;
    color: #3D3D3D;
    padding: 4px;
    vertical-align: top;
}
table.tablesorter tbody td a {
    color: blue;
    text-decoration: underline;
}
table.tablesorter tbody tr.odd td {
    background-color: #F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url("asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8DBDD8;
}