A {
	text-decoration: none;
}
A:hover { 
	text-decoration: underline;
}
.text7 {
	font: 7pt Verdana;
}
.text8 {
	font: 8pt Verdana;
}
.text12 {
	font: 12pt Verdana;
}
.text14 {
	font: 14pt Verdana;
}
.text16 {
	font: 16pt Verdana;
}
.text18 {
	font: 18pt Verdana;
}
.text {
	font: 10pt Verdana;
}
.header {
	font: 16pt Verdana;
}
td {
	font: 10pt Verdana;
}
img { border:0px; }