A {
	font: 8pt Verdana;
	text-decoration: none;
	color: #AA1111;
}
A:hover { 
	color: #FF1111;
}
.text7 {
	font: 7pt Verdana;
}
.text8 {
	font: 8pt Verdana;
}
.text10 {
	font: 10pt Verdana;
}
td {
	font: 8pt Verdana;
}
input {
	font: 8pt Verdana;
	background-color: #EEEEEE;
	border-top: #000000 solid 1px;
	border-left: #000000 solid 1px;
	border-right: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
	color: #000000;
}
select {
	font: 8pt Verdana;
	background-color: #EEEEEE;
	color: #000000;
	width: 100px;
}
textarea {
	font: 8pt Verdana;
	background-color: #EEEEEE;
	border-top: #000000 solid 1px;
	border-left: #000000 solid 1px;
	border-right: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
	color: #000000;
}